body {
  font-family: Rubik; }
  body .blockpage {
    width: auto;
    /* .blockpage est un test */ }

.block1 {
  overflow: hidden; }

.collapse-arrow .fleche {
  transform: rotate(-180deg);
  transition: .3s transform ease-in-out; }

.collapse-arrow .collapsed .fleche {
  transform: rotate(0deg); }

.fleche:focus {
  stroke: red;
  fill: red; }

.block12 {
  width: 600px; }

.imgnavbar {
  width: 85px; }

a {
  color: black;
  font-size: 0.5em; }
  a:hover {
    color: red; }

.login {
  font-size: 0.5em; }
  .login:hover {
    color: red;
    background-color: white;
    transition: 1s; }

.btn1 {
  background-color: #5368df; }
  .btn1:hover {
    background-color: white;
    color: #5368df; }

.btn2:hover {
  background-color: white; }

p {
  font-size: 0.7em;
  color: #6c757d; }

.bluebox_right:before {
  content: "";
  display: block;
  background-color: blue;
  position: absolute;
  height: 75%;
  width: 100%;
  border-bottom-left-radius: 80px 80px;
  top: 25%;
  left: 25%;
  z-index: -1; }

.bluebox_left:before {
  content: "";
  display: block;
  background-color: blue;
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 80px 80px;
  top: 25%;
  right: 50%;
  z-index: -1; }

.footer1 {
  margin-top: 200px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blue;
  color: white;
  height: 300px; }

.contact {
  margin-left: 15px; }
  .contact:hover {
    color: red;
    background-color: white;
    transition: 1s; }

@media (max-width: 500px) {
  .block1 {
    display: flex;
    flex-direction: column-reverse; }

  .block12 {
    width: 300PX; } }

/*# sourceMappingURL=bookmark.css.map */
